<h1>Listing of Tags</h1>
 
<table>
  <tr>
    <th>Tag Keywords: </th>
    <th>Related Projects: </th>
  </tr>
 
  <% @tags.reverse.each do |tag| %>
  <tr>
    <td> <%= tag.keyword %> </td>
    <td>
      <%= tag.projects.map{|project| " " + project.name }.join(",")%>
    </td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= button_to 'Destroy', tag_path(tag),
              method: :delete %> </td>
  </tr>
  <% end %>
</table>

 
