// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-options { 
  width: 100%;	
  max-width: 20em;
  margin: 0 auto 100px;
}
.card-title{
  color: #328396;	
  background-color: #e7ece6;
}